In [1]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id pelajaran  nilai jenis-kelamin kelas
0         1   Ekonomi     99     laki-laki   12C
1         2    Fisika     32     laki-laki   12D
2         3   Biologi      5     laki-laki   12C
3         4    Fisika     35     perempuan   12B
4         5   Biologi     29     perempuan   12D

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [60]:
# code here
print(df[['nilai', 'kelas']])
print()
print(df.loc[5:10, ['pelajaran', 'nilai']])

    nilai kelas
0      99   12C
1      32   12D
2       5   12C
3      35   12B
4      29   12D
5      34   12C
6      34   12D
7       1   12C
8      89   12C
9      38   12B
10     38   12A
11     38   12C
12     80   12B
13     63   12D
14     47   12D
15     15   12D
16     28   12D
17      2   12C
18     88   12B
19     92   12B

   pelajaran  nilai
5    Biologi     34
6    Ekonomi     34
7      Kimia      1
8    Biologi     89
9      Kimia     38
10   Biologi     38

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [49]:
# code here
print(df[((df.pelajaran == 'Ekonomi') | (df.pelajaran == 'Fisika'))])
print()
print(df[((df.nilai > 50) & (df.pelajaran == 'Kimia'))])
print()
print(df[((df.nilai > 70) & (df['jenis-kelamin'] == 'perempuan') & (df.kelas == '12C'))])

    siswa_id pelajaran  nilai jenis-kelamin kelas
0          1   Ekonomi     99     laki-laki   12C
1          2    Fisika     32     laki-laki   12D
3          4    Fisika     35     perempuan   12B
6          7   Ekonomi     34     perempuan   12D
12        13    Fisika     80     perempuan   12B
14        15    Fisika     47     perempuan   12D
17        18   Ekonomi      2     laki-laki   12C

    siswa_id pelajaran  nilai jenis-kelamin kelas
19        20     Kimia     92     perempuan   12B

   siswa_id pelajaran  nilai jenis-kelamin kelas
8         9   Biologi     89     perempuan   12C

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [62]:
# code here
# print((df.nilai - min(df.nilai)) / (max(df.nilai) - min(df.nilai)))
def Transformasi(x):
    return (x - min(x))/(max(x)-min(x))
print(Transformasi(df.nilai))

0     1.000000
1     0.316327
2     0.040816
3     0.346939
4     0.285714
5     0.336735
6     0.336735
7     0.000000
8     0.897959
9     0.377551
10    0.377551
11    0.377551
12    0.806122
13    0.632653
14    0.469388
15    0.142857
16    0.275510
17    0.010204
18    0.887755
19    0.928571
Name: nilai, dtype: float64